# Ignore everything
*

# But don't ignore these directories
!rofi/
!hypr/
!quickshell/

# Allow .gitignore itself
!.gitignore

# Allow nested files in the included directories
!rofi/**
!hypr/**
!quickshell/**
